<div class="jumbotron">
    <h1 class="display-4">Cartão de Ponto</h1>

    <hr class="my-4">

    <a class="btn btn-primary btn-lg mt-3" href="/usuarios/registro" role="button">Crie um conta</a>
    <div class="card mt-3">
        <div class="card-body">
        </div>

    </div>
    </div>