<h2>Lista de Usuários</h2>
<hr />
<a href="">
  <button class="btn btn-success">Nova Categoria</button></a>
<hr />
{{#each usuarios}}
  <h4>{{matricula}}</h4>

{{else}}
  <h4 class="mt-03"> Nenhuma usuário registrado!</h4>

{{/each}}