{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3> Crie sua conta:</h3>
<div class="card mt-3">
    <div class="card-body">
        <form action="" method="post">
            <label for="matricula">Matricula: </label>
            <input type="number" name="matricula" class="form-control" required>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control" required>
            <div class="mt-3 form-check">
                <input type="checkbox" class="form-check-input" id="eAdmin" value="1">
                <label class="form-check-label" for="eAdmin">Administrador</label>
            </div>
            <hr>
            <button type="submit" onclick="myFunction()" class="btn btn-success mt-1">Criar conta</button>
        </form>
    </div>
</div>
<script>
    function myFunction() {
        var x = document.createElement("eAdmin");
        x.setAttribute("type", "checkbox");
        document.body.appendChild(x);
    }
</script>